*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    height: 80%;
    background-color: rgb(39, 207, 207);
    border-radius: 10px;
    overflow: hidden;
}
.upper{
    padding: 0px 25%;
    width: 100%;
    height: 60px;
    background-color: rgb(99, 229, 73);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box{
    padding: 10px 10px;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    
}
.bottom{
    width: 100%;
    height:100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.circle{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle:hover{
    cursor: pointer;
    background-color: beige;
}